.book__wrapper {
    padding-top: 38px;
    overflow: hidden;
    background-color: #6c5f5f;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://img.freepik.com/vetores-gratis/fundo-roxo-do-ceu-nublado-com-grupo-de-cumulos-e-nuvens-cirros-ilustracao-plana-dos-desenhos-animados_1284-62768.jpg?w=2000) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

.book__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.book__name {
    margin-left: 70px;
}

.book__page {
    padding: 10px;
    color: #ebebeb;
    border: 30px solid #fff;
    width: calc(100vw - 200px);
    position: relative;
    border-radius: 0 10px 0 10px;
    border-radius: 5px;
    font-size: 25px;
    margin: 25px auto 0 auto;
}

.book__text--mini, .book__text--medium, .book__text--max{
    margin: 30px 0;
    transition: 0.2s all;
}

.book__text--mini {
    line-height: 25px;
    font-size: 15px;
}
.book__text--medium {
    line-height: 35px;
    font-size: 20px;
}
.book__text--max {
    line-height: 43px;
    font-size: 30px;
}

.home-icon {
    color: #fff;
    font-size: 75px;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in;
    &:hover {
        color: #544747;
    }
}

.book__text-settings {
    padding: 15px 20px;
    font-size: 20px;
    border: 2px solid #544747;
    border-radius: 5px;
    outline: none;
    transition: 0.2s ease-in;
    &:hover {
        background-color: #dadada;
    }
}

.book__word-amount {
    font-size: 25px;
    color: #e4e4e4;
    font-weight: bold;
    text-align: center;
}