.pagination {
    margin: -20px auto 0 auto;
    display: flex;
    background-color: #fff;
    align-items: center;
    width: fit-content;
}

.pagination__item {
    width: 50px;
    height: 100%;
    color: #000;
    border: 2px solid #000;
    padding: 7px;
    z-index: 2 ;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

.pagination__item + .pagination__item {
    margin-left: 5px;
}

.pagination__item--active {
    width: 50px;
    height: 100%;
    color: #000;
    border: 2px solid rgb(255, 0, 0);
    padding: 7px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(1.1);
}

.pagination__link {
    color: #000;
    font-size: 25px;
}