.books {
	padding: 25px 0;
}

.books__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
	column-gap: 20px;
	row-gap: 40px;
	max-height: 625px;
	min-height: 310px;
	overflow-y: scroll;
	padding-bottom: 30px;
}

.books__item {
	position: relative;
	width: 100%;
	height: 100%;
	box-shadow: 5px 5px 10px rgb(0 126 177 / 30%);
	cursor: pointer;
	transition: 0.2s ease-in-out;
	.fa-lock {
		position: absolute;
		bottom: 5px;
		left: 50%;
		transform: translateX(-50%);
		color: #fffb00;
		font-size: 20px;
	}
	.books__add {
		position: absolute;
		top: 10px;
		right: 10px;
		padding: 5px;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(#{--componentsTheme--default});
		border-radius: 50%;
		transition: 0.2s all;
		cursor: default;
		&:hover {
			transform: scale(1.1);
		}
	}
	.fa-add-heart {
		font-size: 25px;
		transition: 0.2s all;
	}
	.fa-add-heart.active {
		color: #dd2424;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.2);
	}
	&:hover {
		transform: scale(0.97);
	}
}

.books__img,
.books__figure {
	height: 100%;
	width: 100%;
}