/*Reset*/
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}input[type=text], textarea{ outline:none;border-radius:0;}

article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video, main{display:block}mark,rp,rt,ruby,summary,time{display:inline}

//Variables SASS
$backgroundTheme--dark: linear-gradient(rgba(14, 14, 14, 0.2), rgba(14, 14, 14, 0.2)), rgb(3 21 28) no-repeat center;
$backgroundTheme--light: linear-gradient(rgba(14, 14, 14, 0.2), rgba(14, 14, 14, 0.2)), rgb(139, 200, 225) no-repeat center;
$componentsTheme--dark: #3b3b3b;
$componentsTheme--light: #fff;
$searchBackgroundTheme--dark: #3b3b3b;
$searchBackgroundTheme--light: #8bc8e1;
$colorTheme--dark: #ffffff;
$colorTheme--light:	#373277;

//roots Css
:root {
	//Backgrounds
	--backgroundTheme--dark: #{$backgroundTheme--dark};
	--backgroundTheme--light: #{$backgroundTheme--light};
	--backgroundTheme--default: var(#{--backgroundTheme--light});
		//Components
		--componentsTheme--dark: #{$componentsTheme--dark};
		--componentsTheme--light: #{$componentsTheme--light};
		--componentsTheme--default: var(#{--componentsTheme--light});
			//Other Elemets
			--searchBackgroundTheme--dark: #{$searchBackgroundTheme--dark};
			--searchBackgroundTheme--light: #{$searchBackgroundTheme--light};
			--searchBackgroundTheme--default: var(#{--searchBackgroundTheme--light});
			--colorTheme--dark: #{$colorTheme--dark};
			--colorTheme--light: #{$colorTheme--light};
			--colorTheme--default: var(#{--colorTheme--light});
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

a {
	text-decoration: none;
}

body {
	background: var(#{--backgroundTheme--default});
	background-size: cover;
	color: var(--colorTheme--default);
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	transition: 0.2s ease-out;
}

h1,
.title1 {
	color: #ffffff;
	font-weight: 700;
	font-size: 64px;
	line-height: 55px;
}

h2,
.title2 {
	color: #ffffff;
	font-weight: 700;
	font-size: 30px;
	line-height: 42px;
}

h3,
.title3 {
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
}

h4,
.title4 {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}

h5,
.title5 {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
}

h6,
.title6 {
	font-weight: 700;
	font-size: 13px;
	line-height: 15px;
}

.btn {
	border: none;
	outline: none;
	background-color: #ff4343;
	min-width: 370px;
	min-height: 80px;
	padding: 5px;
	-webkit-transition: all 0.2s cubic-bezier(0, 0.99, 0.51, 0.53);
	transition: all 0.2s cubic-bezier(0, 0.99, 0.51, 0.53);
	cursor: pointer;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #ffffff;

	&:hover {
		background-color: #e71414;
	}
}

.container {
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
}

//HEADER
.header {
	padding: 40px 0;
}

.fa-solid {
	color: #fff;
}

.header__wrap {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;

	.header__input-wrap {
		position: relative;
		z-index: 1;
	}
	.header__login {
		cursor: pointer;
		justify-self: left;
		transition: 0.2s ease-in-out;
		z-index: 1;
		&:hover {
			transform: scale(1.05);
		}
	}

	.header__search {
		width: 100%;
		background-color: var(#{--searchBackgroundTheme--default});
		box-shadow: 5px 5px 20px rgb(0 126 177 / 30%);
		padding: 10px 7px;
		color: #fff;
		border: 1px solid transparent;
		border-radius: 4px;
		font-size: 15px;
		transition: 0.2s ease-out;
		&::placeholder {
			color: #fff;
		}
		&:focus {
			border: 1px solid rgba(250, 250, 250, 0.6);
		}
	}
	.header__liked {
		text-align: right;
		z-index: 1;
	}
	.fa-heart {
		font-size: 25px;
		cursor: pointer;
		transition: 0.2s ease-in;
		color: #fff;
		&:hover {
			transform: scale(1.2);
			color: #e2c3c3;
		}
	}
	.header__search-prompt {
		position: absolute;
		top: -30px;
		right: 5px;
		font-size: 10px;
		padding: 5px 10px;
		background-color: #ffffff;
		color: #5f5f5f;
		overflow: auto;
	}
	.header__submit {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 7px;
		border: none;
		outline: none;
		background-color: transparent;
		cursor: pointer;
		.fa-search {
			font-size: 17px;
			color: #fff;
		}
	}
}

//MAIN

//TOOLS
.tools {
	padding: 20px 0;
}

.tools__list {
	display: flex;
	position: relative;

	.tools__item {
		display: flex;
		align-items: center;
		
		.tools__available {
			cursor: pointer;
		}

		.tools__hidden-list {
			outline: none;
			border: none;
			display: flex;
			align-items: center;
			padding: 6px 10px;
			font-weight: 400;
			cursor: pointer;
			position: relative;
			transition: 0.2s ease-out;
			color: var(#{--colorTheme--default});
			background-color: var(#{--componentsTheme--default});
		}
		.tools__hidden-item + .tools__hidden-item {
			margin-top: 115px;
		}
		.tools__hidden-item:first-child {
			color: #000;
			font-weight: 700;
		}
	}

	.tools__item + .tools__item {
		margin-left: 25px;
	}

	.tools__theme {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 15px;
	}
	.wrap-theme {
		width: 50px;
		height: 25px;
		border-radius: 15px;
		position: relative;
		cursor: pointer;
		background-size: cover;
		transition: 0.3s all;
	}
	.circle {
		position: absolute;
		top: 0;
		height: 100%;
		width: 25px;
		transition: 0.3s all;
		border-radius: 50%;
		border: 1px solid #373277;
	}
	.tools__wrap-theme {		
		background-color: #8bc8e1
	}
	.tools__circle-theme {	
		background-color: #fff;
		left: 2px;
	}
	.tools__wrap-theme--dark {
		background-color: #100c40;
		border: 1px solid #fff;
	}
	.tools__circle-theme--dark {
		background-color: #fff;
		right: 2px;
		border: 1px solid #fff;
	}
}

//BOOKS
.books {
	padding: 25px 0;
}

.books__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
	column-gap: 20px;
	row-gap: 40px;
	max-height: 5 00px;
	overflow-y: scroll;
}

.books__item {
	position: relative;
	box-shadow: 5px 5px 10px rgb(0 126 177 / 30%);
	cursor: pointer;
	transition: 0.2s ease-in-out;
	.fa-lock {
		position: absolute;
		bottom: 5px;
		left: 50%;
		transform: translateX(-50%);
		color: #fffb00;
		font-size: 20px;
	}
	.books__add {
		position: absolute;
		top: 10px;
		right: 10px;
		padding: 5px;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(#{--componentsTheme--default});
		border-radius: 50%;
		transition: 0.2s all;
		&:hover {
			transform: scale(1.1);
		}
	}
	.fa-add-heart {
		color: var(#{--colorTheme--default});
		font-size: 25px;
		transition: 0.2s all;
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.2);
	}
	&:hover {
		transform: scale(0.97);
	}
}

.books__img,
.books__figure {
	height: 100%;
	width: 100%;
}

//Clouds
.cloud {
	position: relative;
	width: 6em; 
	height: 6em; 
	margin: 2em;
	background: #ffffff;
	border-width: 0.25em;
	border-style: solid;
	border-color: #6E839E;
	border-radius: 50% 50% 0 0;
	}
	.cloud:before, 
	.cloud:after {
	content: "";
	position: absolute; 
	bottom: -0.25em;
	background: inherit;
	border-width: 0.25em;
	border-style: solid;
	border-color: #6E839E;
	}
	.cloud:before {
	left: 80%; 
	width: 60%; 
	height: 60%;
	border-left: none;
	border-radius: 50% 50% 50% 0;
	}
	.cloud:after {
	right: 80%;
	width: 80%; 
	height: 80%;
	border-right: none;
	border-radius: 50% 50% 0;
	}

	.cloud-1 {
		position: absolute;
		top: 5px;
		left: 24%;
		transition: 0.2s all;
	}
	.cloud-2 {
		position: absolute;
		top: -50px;
		right: 23%;
		transition: 0.2s all;
	}
	
	.moon {
		position: absolute;
		top: 30px;
		left: 13%;
		width: 100px; 
		height: 100px; 
		margin: -20px 0 20px 0;
		border-radius: 50%;
		box-shadow: 15px 15px 0 0 #FEC712;
		transition: 0.2s all;
	}