.book__wrapper {
    padding-top: 38px;
    background-color: #898989;
    overflow: hidden;
}

.book__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.book__name {
    margin-left: 70px;
}

.book__page {
    padding: 40px 50px;
    color: #544747;
    margin-top: 25px;
    max-width: 1700px;
    max-height: 700px;
    overflow-y: scroll;
    border: 50px solid #544747;
    border-radius: 0 10px 0 10px;
    border-radius: 5px;
    background-color: #d8d8c5;
    font-size: 25px;
    margin: 30px auto;
    text-align: center;
}

.book__text--mini, .book__text--medium, .book__text--max{
    transition: 0.2s all;
}

.book__text--mini {
    line-height: 20px;
    font-size: 15px;
}
.book__text--medium {
    line-height: 25px;
    font-size: 20px;
}
.book__text--max {
    line-height: 30px;
    font-size: 30px;
}

.home-icon {
    color: #fff;
    font-size: 75px;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in;
    &:hover {
        color: #544747;
    }
}

.book__text-settings {
    padding: 15px 20px;
    font-size: 20px;
    border: 2px solid #544747;
    border-radius: 5px;
    outline: none;
    transition: 0.2s ease-in;
    &:hover {
        background-color: #dadada;
    }
}

.book__word-amount {
    font-size: 25px;
    color: #e4e4e4;
    font-weight: bold;
    text-align: center;
}