.global-error {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url(../../assets/gifs/globarError.gif) no-repeat center;
    background-size: cover;
}

.global-error__title {
    color: #ffffff;
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 30px;
    text-shadow: 0 0 5px #000;
}