.book__wrapper {
    padding: 38px 0;
    overflow: hidden;
    background-color: #6c5f5f;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/images/bookContentBG.webp) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}