//HEADER
.header {
	padding: 40px 0;
}

.fa-solid {
	color: #fff;
}

.header__wrap {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;

	.header__input-wrap {
		position: relative;
		z-index: 1;
	}
	.header__login {
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		justify-self: left;
		transition: 0.2s ease-in-out;
		z-index: 1;
		&:hover {
			transform: scale(1.05);
		}
		.mini-icon-for-ui {
			margin-right: 5px;
		}
	}

	.header__search {
		width: 100%;
		background-color: var(#{--searchBackgroundTheme--default});
		box-shadow: 5px 5px 20px rgb(0 126 177 / 30%);
		padding: 10px 7px;
		color: #fff;
		border: 1px solid transparent;
		border-radius: 4px;
		font-size: 15px;
		transition: 0.2s ease-out;
		&::placeholder {
			color: #fff;
		}
		&:focus {
			border: 1px solid rgba(250, 250, 250, 0.6);
		}
	}
	.header__liked {
		text-align: right;
		z-index: 1;
	}
	.fa-heart {
		font-size: 35px;
		cursor: pointer;
		transition: 0.2s ease-in;
		color: #fff;
		&:hover {
			transform: scale(1.2);
			color: #e2c3c3;
		}
	}
	.header__search-prompt {
		position: absolute;
		top: -30px;
		right: 5px;
		font-size: 10px;
		padding: 5px 10px;
		background-color: #ffffff;
		color: #5f5f5f;
		overflow: auto;
	}
	.header__submit {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 7px;
		border: none;
		outline: none;
		background-color: transparent;
		cursor: pointer;
		.fa-search {
			font-size: 17px;
			color: #fff;
		}
	}
	.header__icon--mobile {
		font-size: 40px;
		color: #ffffff;
		display: none;
		cursor: pointer;
		justify-self: left;
		transition: 0.2s ease-in-out;
		z-index: 1;
		&:hover {
			transform: scale(1.05);
		}
	}
}

@media only screen and (max-width: 550px) {
	.header__wrap .header__login {
		display: none;
	}
	.header__wrap .header__icon--mobile {
		display: inline-block;
	}
}

//TOOLS
.tools {
	padding: 20px 0;
}

.tools__list {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(130px, 200px));
	gap: 20px;

	.tools__item {
		display: flex;
		align-items: center;

		.tools__available {
			cursor: pointer;
		}

		.tools__hidden-list {
			width: 100%;
			outline: none;
			border: none;
			display: flex;
			align-items: center;
			padding: 6px 10px;
			font-weight: 400;
			cursor: pointer;
			position: relative;
			transition: 0.2s ease-out;
			color: var(#{--colorTheme--default});
			background-color: var(#{--componentsTheme--default});
		}
		.tools__hidden-item + .tools__hidden-item {
			margin-top: 115px;
		}
		.tools__hidden-item:first-child {
			color: #000;
			font-weight: 700;
		}
	}

	.tools__theme {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 15px;
	}
	.wrap-theme {
		width: 50px;
		height: 25px;
		border-radius: 15px;
		position: relative;
		cursor: pointer;
		background-size: cover;
		transition: 0.3s all;
	}
	.circle {
		position: absolute;
		top: 0;
		height: 100%;
		width: 25px;
		transition: 0.3s all;
		border-radius: 50%;
		border: 1px solid #373277;
	}
	.tools__wrap-theme {
		background-color: #8bc8e1;
	}
	.tools__circle-theme {
		background-color: #fff;
		left: 2px;
	}
	.tools__wrap-theme--dark {
		background-color: #100c40;
		border: 1px solid #fff;
	}
	.tools__circle-theme--dark {
		background-color: #fff;
		right: 2px;
		border: 1px solid #fff;
	}
}

//responsive
@media only screen and (max-width: 550px) {
	.cloud-1 {
		display: none;
	}
}

//BOOKS
.books {
	padding: 25px 0;
}

.books__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
	column-gap: 20px;
	row-gap: 40px;
	max-height: 625px;
	min-height: 310px;
	overflow-y: scroll;
	padding-bottom: 30px;
}

.books__item {
	position: relative;
	width: 100%;
	height: 100%;
	box-shadow: 5px 5px 10px rgb(0 126 177 / 30%);
	cursor: pointer;
	transition: 0.2s ease-in-out;
	.fa-lock {
		position: absolute;
		bottom: 5px;
		left: 50%;
		transform: translateX(-50%);
		color: #fffb00;
		font-size: 20px;
	}
	.books__add {
		position: absolute;
		top: 10px;
		right: 10px;
		padding: 5px;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(#{--componentsTheme--default});
		border-radius: 50%;
		transition: 0.2s all;
		cursor: default;
		&:hover {
			transform: scale(1.1);
		}
	}
	.fa-add-heart {
		font-size: 25px;
		transition: 0.2s all;
	}
	.fa-add-heart.active {
		color: #dd2424;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.2);
	}
	&:hover {
		transform: scale(0.97);
	}
}

.books__img,
.books__figure {
	height: 100%;
	width: 100%;
}

//Other elements
.cloud {
	position: relative;
	width: 6em;
	height: 6em;
	margin: 2em;
	background: #ffffff;
	border-width: 0.25em;
	border-style: solid;
	border-color: #6e839e;
	border-radius: 50% 50% 0 0;
}
.cloud:before,
.cloud:after {
	content: '';
	position: absolute;
	bottom: -0.25em;
	background: inherit;
	border-width: 0.25em;
	border-style: solid;
	border-color: #6e839e;
}
.cloud:before {
	left: 80%;
	width: 60%;
	height: 60%;
	border-left: none;
	border-radius: 50% 50% 50% 0;
}
.cloud:after {
	right: 80%;
	width: 80%;
	height: 80%;
	border-right: none;
	border-radius: 50% 50% 0;
}

.cloud-1 {
	position: absolute;
	top: 5px;
	left: 24%;
	transition: 0.2s all;
}
.cloud-2 {
	position: absolute;
	top: -50px;
	right: 23%;
	transition: 0.2s all;
}

.moon {
	position: absolute;
	top: 30px;
	left: 18%;
	width: 100px;
	height: 100px;
	margin: -20px 0 20px 0;
	border-radius: 50%;
	box-shadow: 15px 15px 0 0 #fec712;
	transition: 0.2s all;
}